UXTerm*renderFont:true
!UXTerm*faceName: DejaVu Sans Mono
!UXTerm*faceSize: 10
UXTerm*faceName: Cousine
UXTerm*faceSize: 12
UXTerm*ScrollBar: false

UXTerm*color0: Black
UXTerm*color8: Black
UXTerm*color1: Maroon
UXTerm*color9: Maroon
UXTerm*color2:  Green4
UXTerm*color10: Green4
UXTerm*color3:  DarkGoldenRod
UXTerm*color11: DarkGoldenRod
UXTerm*color4:  RoyalBlue3
UXTerm*color12: RoyalBlue3
UXTerm*color5:  VioletRed
UXTerm*color13: VioletRed
UXTerm*color6:  CadetBlue4
UXTerm*color14: CadetBlue4
UXTerm*color7:  WhiteSmoke
UXTerm*color15: WhiteSmoke

UXTerm*background: WhiteSmoke
UXTerm*foreground: Black
