[user]
	name = Guillermo Indalecio
	email = guillermobox@gmail.com

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[include]
	path = ~/.gitconfig_local

[alias]
	lol = log --all --decorate --oneline --graph
	st = status -s

