[user]
	name = Guillermo Indalecio Fernandez
	email = guillermobox@gmail.com

[color]
	branch = auto
	diff = auto
	status = auto

[include]
	path = ~/.gitconfig_local

[alias]
	lol=log --oneline --all --graph --decorate
	st=status -s

[push]
	default = matching
