[user]
	name = Guillermo Indalecio Fernandez
	email = guillermobox@gmail.com

[color]
	diff = auto
	branch = false
	status = false

[color "diff"]
	meta = normal
	frag = normal
	old = red
	new = green
	commit = bold

[include]
	path = ~/.gitconfig_local

[alias]
	lol = log --all --graph --pretty=format:'%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s'
	st=status -bs
	wdiff=diff --color-words
[push]
	default = simple
