[user]
	name = Guillermo Indalecio Fernandez
	email = guillermobox@gmail.com

[color]
	diff = auto
	branch = false
	status = false

[color "diff"]
	meta = normal
	frag = normal
	old = red
	new = green
	commit = bold

[include]
	path = ~/.gitconfig_local

[alias]
	lol = log --graph --pretty=format:'%C(yellow)%h%Creset %s%C(cyan)%C(bold)%d%Creset%C(cyan) (%cr) <%ae>%Creset'
	st = status -bs
	bl = blame --show-email --root --date=short
	wdiff = diff --color-words

[push]
	default = simple
